<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Gmail Provider -->
	<bean id="gmailProvider" class="com.mail.sender.provider.GmailServiceProvider"></bean>

	<!-- Yahoo provider -->
	<bean id="yahooProvider" class="com.mail.sender.provider.YahooServiceProviderV2"></bean>
	
	<!-- Hotmail provider -->
	<bean id="hotmailProvider" class="com.mail.sender.provider.HotmailServiceProviderV2"></bean>

</beans>
